* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: sans-serif;
  position: relative;
}

/* nav style */
.nav {
  position: fixed;
  width: 100%;
  background: #eaeff0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.nav a {
  color: #222;
  text-decoration: none;
}
.nav-social-list {
  list-style: none;
  display: flex;
  justify-content: center;
}

.nav a:hover {
  color: #7843e9;
}

nav ul li {
  padding: 0 15px;
}
nav .img {
  width: 3rem;
  height: 3rem;
  border-radius: 50px;
  overflow: hidden;
  margin-right: 1.5rem;
  background: #7843e9;
}
.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.burger {
  visibility: hidden;
}

@media (max-width: 768px) {
  .burger {
    visibility: visible;
    font-size: 30px;
  }
  .nav-social-list {
    display: none !important;
  }
  .visible {
    visibility: visible;
  }
}
.hidden {
  visibility: hidden;
}

.header__sm-menu {
  position: absolute;
  width: 100%;
  background-color: #fff;
  transition: all 0.3s;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
  direction: rtl;
  margin-top: 80px;
}
.header__sm-menu ul {
  list-style-type: none;
}
.header__sm-menu ul li {
  padding: 15px 0;
  font-size: 30px;
}

.header__sm-menu ul li:hover {
  background-color: rgb(196, 229, 245);
}
.header__sm-menu a {
  text-decoration: none;
  color: #222;
}

/* Hero style */
.hero{
    background: linear-gradient(to right, rgba(245, 245, 245, 0.8), rgba(245, 245, 245, 0.8)), url(https://www.rammaheshwari.com/assets/svg/common-bg.svg);
    background-position: center;
   height: 100%;
   width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  
  }
  .hero-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }
  .hero-title{
    margin-top:15rem;
    font-size: 4rem;
      text-transform: uppercase;
      letter-spacing: 2px;
      text-align: center;
      color: #111;
      font-weight: 700;

  }
  
  .hero-description{
    color: #333;
      font-size: 2.2rem;
      text-align: center;
      width: 100%;
      line-height: 1.6;
  }
  .hero-button{
    margin-top: 3rem ;
    margin-bottom: 5rem;
      transition: transform 0.5s ;
  
  
  }
  .hero-button:hover {
    transform: translate3d(0px, -10px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  }
  
  .hero-button a{
    padding: 1.5rem 4rem;
      font-size: 1.3rem;
      background: #7843E9;
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 1px;
      display: inline-block;
      text-decoration: none;
      font-weight: 700;
      border-radius: 5px;
      box-shadow: 0 5px 15px 0 rgba(0,0,0,0.15);
    }
  
    @media (max-width:768px){
      .hero-title{
        font-size: 2rem;
        font-family: 500;
        margin-top: 10rem;
      }
      .hero-description{
        font-size: 2rem;
  
      }
      .hero-button a{
        padding: 1rem 5rem;
      font-size: 1rem;
      font-weight: 500;
  
      }
    }

    /* Projects section style */
    
    .section {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 14vh 0  ;
      }
      .card-header{
        width: 40%;
      }
      #projects{
        padding:  10px 4rem ;
      }

      @media (max-width:768px){
        .section{
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 5rem;
          padding: 5vh 0;
        }
        #projects{
          padding:  0 10px ;
        }
        .project{
          width: 100% !important;
        }
        .project-img {
          width: 100% !important;
        }
        .card-header {
          text-align: center;
          width: 100%;
          
        }
        .title {
          margin: 0;
          color: rgba(0, 0, 0, 0.9);
          font-weight: 400;
        }
        
        .description {
          margin-top: 12px;
          font-size: 1.3rem !important;
            color: #666;
            width: 100% !important;
            line-height: 1px;
            margin-bottom: 3rem;
        }
        .project-button a{
          padding: .5rem 2rem;
          font-size: 1rem;
        
        }
      }
      
     
      
      .title {
        margin: 0;
        color: rgba(0, 0, 0, 0.9);
        font-weight: 600;
      }
      
      .description {
        margin-top: 12px;
        font-size: 1.8rem;
          color: #666;
          width: 100%;
          line-height: 1.7;
          margin-bottom: 3rem;
      }
      .project-button a{
        padding: 1rem 3rem;
        font-size: 1.3rem;
      
      }
      .project{
        width: 50% ;
      
      }
      
      .project-img {
        width: 70%;
        max-width: 100%;
        border-radius: 10px;
        box-shadow: 18px 18px 25px 1px rgba(58, 41, 15, 0.3);
        transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
      }
      .project-img:hover {
        transform: translate3d(0px, -10px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
      }
      @media (min-width: 1200px) {
        .project-img {
          width: 950px;
        }
      }
      @media (min-width: 769px) {
        .project-img {
          width: 550px;
        }
      }
